section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #000;
  height: 100%;
}

section > div {
  border: 1px solid #000;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: calc(
    100% / 3 - 2rem
  ); /* 3 items horizontally, accounting for padding */
  min-width: 150px; /* Set a reasonable minimum width */
  padding: 1rem;
  background-color: white;
  height: 50%;
}
button {
  cursor: pointer;
  color: #fff;
  background-color: #3b4cca;
  padding: 12px;
  max-width: 120px;
  border-radius: 8px;
  border: 2px solid #ffcb05;
  font-family: "Press Start 2P", cursive;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.1;
}

button:hover {
  background-color: #ffcb05; /* Yellow color */
  color: #3b4cca; /* Blue color */
}
button:active {
  transform: scale(0.95);
}
img {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
