section {
  width: 100%;
  display: flex;
  border: 64px solid black;
  max-height: 100vh;
  flex-direction: column;
}
h1 {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 0;
}
app-pokemon-detail {
  width: 100%;
  background-color: red;
  height: 400px;
}

app-pokemon-list {
  overflow-y: scroll;
  height: calc(100vh - 128px);
  max-width: calc(100vh - 128px);
}
div {
  border: 1px solid black;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: center;
}
button {
  z-index: 10;
  width: 50px;
  height: 50px;
  word-break: break-all;
}
